[submodule "carbon-for-ibm-dotcom"]
	path = carbon-for-ibm-dotcom
	url = https://github.com/dntzbgh/carbon-for-ibm-dotcom
[submodule "carbon"]
	path = carbon
	url = https://github.com/dntzbgh/carbon.git
